html {
  box-sizing: border-box;
}

body {
  font: 16px "Trebuchet MS", Arial, sans-serif;
}

.board {
  margin: 32%;
}
.row {
  margin: auto;
  display: flex;
  flex-direction: row;
}
.square {
  height: 15vh;
  width: 15vw;
  border-radius: 20%;
  margin: 0.3em 0.3em;
}
.square img {
  height: 80%;
  width: 80%;
  background:none;
}

.status {
  margin: 1rem;
  text-align: center;
  font-size: 40px;
}
.reset-button {
  display:flex;
  justify-content: center;
  margin:1rem;
}
.reset-button button {
  font-size: 30px;
}